<h1>Informacion Personal del Usuario</h1>
<h4>Nombre Usuario: {{user.name}}</h4>
<h4>Edad: {{user.age}}</h4>
<h4>Direccion: {{user.address}}</h4>
<h4>Celular: {{user.tel}}</h4>
<img style="width:30%" src={{user.avatar}}>