<%- include ('./layouts/header') -%>
    <%- include ('./layouts/navbar') -%>
    <div class="container mt-5">
        <h6>Argumentos de entrada:</h6><p><%= argument %></p>
        <h6>Nombre de la plataforma:</h6><p><%= platform %></p>
        <h6>Version de Node:</h6><p><%= version %></p>
        <h6>uso de memoria:</h6><p><%= memory %></p>
        <h6>Path de ejecución:</h6><p><%= path %></p>
        <h6>Process id:</h6><p><%= process %></p>
        <h6>Carpeta:</h6><p><%= folder %></p>
    </div>
<%- include ('./layouts/footer') -%>